body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* navigation bar styling */
.navbar {
    background-color: #D2DAE2;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.navbar-brand img {
    margin-left: -600px;
    height: 120px;
    width: 120px; 
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}

.nav-item {
    margin-right: 120px;
}

.nav-item-contact {
    margin-left: 300px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    color: #000;
    text-decoration: none;
    font-size: 3rem;
    position: relative;
    transition: color 0.5s ease;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 16px;
    width: 0;
    height: 1px;
    background-color: #364D66;
    transition: width 0.5s ease, left 0.5s ease;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
}

.nav-link:hover {
    color: #364D66;
}


/*Banner styling*/

.banner {
    margin-top: 150px;
    width: 100%;
    height: 650px;
    overflow: hidden;
    position: relative;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: 60%;
    width: 92%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
}

.banner-text h1 {
    font-size: 5rem;
    text-align: left;
}

.banner-text h2 {
    font-size: 2.375rem;
    text-align: left;
}

.banner-text p {
    font-size: 1.875rem;
    text-align: left;
}

.split-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: calc(100% - 116px); /* 58px gap on each side */
    margin: 0 58px; /* Margin on left and right */
}

.split-text-box {
    background-color: #f4f4f4;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.about-us-text-box {
    background-color: #fab03b;
    color: #f3f3f3;
    font-size: 2.063rem;
    margin-bottom: 20px;
    position: relative;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px;
}

.about-us-text-box h2 {
    font-size: 2.813rem;
    text-align: left;
    color: #ffffff;
    margin-bottom: 20px; /* Adjust margin as needed */
    position: relative;
    align-self: flex-start;
}

.about-us-text-box h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
}

.about-us-text-box p {
    text-align: left;
    width: 100%;
    margin-bottom: 20px; /* Adjust margin as needed */
}

.learn-more {
    margin-top: 20px;
    padding: 12px 50px;
    font-size: 2.125rem;
    color: #fff;
    background-color: #fab03b;
    border: 1px solid #0a0a0a;
    border-radius: 21px;
    cursor: pointer;
    position: absolute;
    right: 70px;
    bottom: 70px;
    transition: background-color 0.5s ease;
}

.learn-more:hover {
    background-color: #364D66;
}

.what-we-offer-text-box {
    background-color: #D2DAE2;
    color: #364D66;
    font-size: 1.375rem;
    margin-bottom: 20px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px;
}

.what-we-offer-text-box h2 {
    font-size: 2.813rem;
    text-align: left;
    color: #364D66;
    margin-bottom: 20px; /* Adjust margin as needed */
    position: relative;
    align-self: flex-start;
}

.what-we-offer-text-box h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: #364D66;
}

.what-we-offer-text-box p {
    text-align: left;
    width: 100%;
    margin-bottom: 20px; /* Adjust margin as needed */
}

.offer-box-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.offer-box {
    background-color: #D2DAE2;
    color: #000;
    padding: 20px;
    flex: 1;
    margin: 10px;
    text-align: center;
    border-radius: 21px;
    border: 1px solid #0a0a0a;
}

.offer-box h3 {
    margin-bottom: 10px;
    font-size: 1.75rem;
    text-align: left;
}

.offer-box p {
    font-size: 1.125rem;
    color: #364D66;
    text-align: left;
}

.icon-container {
    width: 70px;
    height: 70px;
    border-radius: 70%;
    background-color: #5E82AA; /* Background color of the circle */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid #0a0a0a;
    top: -10px; /* Adjust to position the circle */
}

.icon-container img {
    width: 55px;
    height: 55px;
}

.upcoming-events-text-box {
    background-color: #364D66;
    color: #f3f3f3;
    font-size: 2.063rem;
    margin-bottom: 10px;
    position: relative;
    height: auto; /* Allow height to adjust based on content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px; /* Adjust padding as needed */
    width: 100%; /* Ensure it takes the full width of its container */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.upcoming-events-text-box h2 {
    font-size: 2.813rem;
    color: #D98C18;
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}

.upcoming-events-text-box h2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px; /* Adjust the padding here */
    transform: translateX(-50%);
    width: 100%;
    height: 1px; /* Thickness of the underline */
    background-color: #D98C18; /* Color of the underline */
}

.events-container {
    display: flex;
    flex-direction: column; /* Stack the event boxes vertically */
    justify-content: flex-start; /* Align content to the start */
    width: 100%;
    max-height: 600px; /* Set a maximum height */
    overflow: hidden; /* Hide overflow content */
    transition: max-height 0.5s ease; /* Smooth transition for expanding/collapsing */
}

.events-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px; /* Adjust as needed */
    z-index: 0;
}

.event-box {
    background-color: #364D66;
    color: #000;
    display: flex;
    flex-direction: row; /* Arrange items in a row */
    align-items: center;
    margin: 10px 0; /* Add vertical margin */
    padding: 20px;
    text-align: left;
    border: 1px solid #EAEAEA;
    min-height: 200px; /* Ensure the event-box has a minimum height */
    transition: background-color 0.5s ease, color 0.5s ease;
    position: relative;
    overflow: hidden;
}

.event-box:hover {
    background-color: #D9D9D9; /* New background color on hover */
    color: #000;
}

.event-box:hover .event-details h4,
.event-box:hover .event-details p,
.event-box:hover .event-time .time,
.event-box:hover .event-time {
    color: #000; /* New text color on hover */
}

.event-box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: #5e6f8a; /* New background color on hover */
    z-index: -1;
    transition: width 0.5s ease, height 0.5s ease, top 0.5s ease, left 0.5s ease;
    transform: translate(-50%, -50%);
}

.event-box:hover::before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.event-details,
.event-time {
    position: relative;
    z-index: 1; /* Ensure text is above the pseudo-element */
}

.event-details h3 {
    position: relative;
    color: #D98C18;
}

.event-details h3::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px; /* Adjust based on your text */
    width: 0;
    height: 1px; /* Thickness of the underline */
    background-color: #000000; /* Color of the underline */
    transition: width 0.5s ease, left 0.5s ease; /* Smooth transition */
}

.event-box:hover .event-details h3::after {
    width: 100%;
    left: 0;
}

.event-details h4,
.event-details p,
.event-time .time,
.event-time {
    transition: color 0.5s ease; /* Smooth transition for text color */
}

.event-image {
    flex: 1;
    margin-right: 20px;
    padding: 20px;
}

.event-image img {
    width: 230px; 
    height: 150px;
}

.event-details {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 20px;
}

.event-details h3 {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.event-details h4 {
    font-size: 1.375rem;
    color: #79CEF0;
    margin-bottom: 10px;
}

.event-details p {
    font-size: 1rem;
    color: #ffffff;
}

.event-time {
    flex: 1;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 1rem;
    color: #a8c8f9;
}

.event-time .time {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

.toggle-events {
    margin-top: 20px;
    padding: 12px 50px;
    font-size: 2.125rem;
    color: #fff;
    background-color: #364D66;
    border: 1px solid #0a0a0a;
    border-radius: 21px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: background-color 0.3s ease;
}

.toggle-events:hover {
    background-color: #D98C18;
}

.split-image {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.split-image img {
    width: 100%;
    height: auto;
}

.top-half img {
    object-position: top;
    object-fit: cover;
    height: 200px; /* Adjust height as needed */
    margin-bottom: 20px;
    margin-top: 20px;
}

.bottom-half img {
    object-position: bottom;
    object-fit: cover;
    height: 200px;
    margin-bottom: 20px;
}

.footer-image {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    max-height: 400px;
    overflow: hidden;
    position: relative;
}

.footer-image img {
    width: 100%;
    height: 400px;
    display: block;
    object-fit: cover;
    object-position: 30% 60%;
}

.footer-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    pointer-events: none;
    z-index: 1;
}

.footer {
    background-color: #0A1326;
    color: #f3f3f3;
    padding: 20px 0;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer .text-left {
    text-align: left;
    flex: 1;
}

.footer .social-links {
    text-align: right;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer .social-icon {
    margin-left: 15px; /* Adjust spacing between icons */
    border-radius: 5px; /* Optional: rounded corners */
    transition: background-color 0.5s ease; /* Smooth transition */
}

.footer .social-icon img {
    width: 60px; /* Adjust icon size as needed */
    height: auto;
    padding: -15px; /* Add some padding around the icon */
    overflow: hidden;
}

.footer .social-icon.facebook:hover {
    background-color: #3b5998; /* Facebook color on hover */
}

.footer .social-icon.linkedin:hover {
    background-color: #0077b5; /* LinkedIn color on hover */
}

/* Media query for iPad Pro 11" */
@media only screen and (min-width: 834px) and (max-width: 1194px) {
    /* Adjust navbar styling */
    .navbar-brand img {
        margin-left: -400px; /* Adjust the position */
        height: 100px;
        width: 100px; 
    }

    .nav-link {
        font-size: 2rem;
    }

    .nav-item {
        margin-right: 60px;
    }

    .nav-item-contact {
        margin-left: 150px;
    }

    /* Adjust banner styling */
    .banner {
        height: 500px;
    }

    .banner-text h1 {
        font-size: 3.5rem;
    }

    .banner-text h2 {
        font-size: 2rem;
    }

    .banner-text p {
        font-size: 1.5rem;
    }

    /* Adjust split-container and its children */
    .split-container {
        margin: 0 20px; /* Adjust margin */
    }

    .about-us-text-box, .what-we-offer-text-box {
        padding: 60px;
        height: auto;
    }

    .about-us-text-box h2, .what-we-offer-text-box h2 {
        font-size: 2.5rem;
    }

    .about-us-text-box p, .what-we-offer-text-box p {
        font-size: 1.5rem;
    }

    .learn-more {
        padding: 10px 40px;
        font-size: 1.5rem;
    }

    .offer-box {
        padding: 10px;
    }

    .offer-box h3 {
        font-size: 1.5rem;
    }

    .offer-box p {
        font-size: 1rem;
    }

    /* Adjust upcoming-events-text-box */
    .upcoming-events-text-box {
        padding: 20px;
    }

    .upcoming-events-text-box h2 {
        font-size: 2.5rem;
    }

    .events-container {
        max-height: 400px;
    }

    .event-box {
        padding: 10px;
    }

    .event-details h3 {
        font-size: 1.5rem;
    }

    .event-details h4 {
        font-size: 1.25rem;
    }

    .event-details p {
        font-size: 1rem;
    }

    .event-time .time {
        font-size: 1.25rem;
    }

    /* Adjust footer */
    .footer .text-left {
        text-align: center;
    }

    .footer .social-links {
        justify-content: center;
    }

    .footer .social-icon {
        margin-left: 10px; /* Adjust spacing between icons */
    }
}