* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    height: 300px !important;
}

.banner .banner-text {
    justify-content: center !important;
}

.contact-form-container {
    background-color: #34495e;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 50rem;
    min-height: 30rem; 
    margin: 3.1rem auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label {
    font-size: 16rem;
    color: #ecf0f1;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

form input,
form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #e67e22;
    border-radius: 5px;
    background-color: #34495e;
    color: #ecf0f1;
    font-size: 14px;
    resize: vertical;
}

form button {
    width: 100%;
    padding: 12px;
    background-color: #e67e22;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #d35400;
}